
  .glowWhite {
  text-shadow: 0 0 8px #aeb9d9, 0 0 12px #aeb9d9, 0 0 6px #FFFFFF;
 }
 
    *{
        font-family: "Special Gothic Condensed One", sans-serif;
        font-weight: 400;
        font-style: normal;
        user-select: none;
    }
    .display-massive{
        font-size: clamp(3rem, 10vw, 8rem);
    }
.underlineText{
    text-decoration:underline;
}
